.finder-container {
  display: flex;
  flex-direction: row;

  #middle-input {
    margin: auto 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .finder-container {
    flex-direction: column;
  
    #middle-input {
      margin: 5px 0;
    }
  }
}
